@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fdfdfd;
    --foreground: #303030;
    --card: #fdfdfd;
    --card-foreground: #303030;
    --popover: #fdfdfd;
    --popover-foreground: #303030;
    --primary: #2357cd;
    --primary-foreground: #fdfdfd;
    --secondary: #f5f5f5;
    --secondary-foreground: #404040;
    --muted: #f5f5f5;
    --muted-foreground: #707070;
    --accent: #f5f5f5;
    --accent-foreground: #404040;
    --destructive: #652222;
    --destructive-foreground: #fdfdfd;
    --border: #ccc;
    --input: #ccc;
    --ring: #2357cd;
    --radius: 0.4rem;
  }

  .dark {
    --background: #151615;
    --foreground: #dbdfdf;
    --card: #151615;
    --card-foreground: #dbdfdf;
    --popover: #151615;
    --popover-foreground: #dbdfdf;
    --primary: #6eb8ff;
    --primary-foreground: #151615;
    --secondary: #3a3b3b;
    --secondary-foreground: #bfc5c5;
    --muted: #3a3b3b;
    --muted-foreground: #b4b6b8;
    --accent: #3a3b3b;
    --accent-foreground: #bfc5c5;
    --destructive: #652222;
    --destructive-foreground: #dbdfdf;
    --border: #414141;
    --input: #414141;
    --ring: #6eb8ff;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    line-height: 1.62em;
    padding: 0 2.5em;
    margin: 0;
    font-size: 18px;
    word-wrap: break-word;
  }

  a {
    @apply text-primary;
    text-underline-offset: 3px;
    text-decoration-thickness: 0.5px;
  }

  ::selection {
    @apply bg-secondary;
  }
}